.best-place-section.best-place-style-two.margin-top
    .container
        .row
            .col-md-6
                .section-align-title-area
                    h2.section-align-title
                        |A best place to enjoy your life
                    p.section-title-dec
                        |Sed pellentesque pulvinar arcu ac congue. Sed sed est nec justo maximus blandit. Curabitur lacinia, eros sit amet maximus suscipit, magna sapien venenatis eros, et gravida urna massa ut lectus. Quisque lacinia lacinia viverra. Nullam nec est et lorem sodales ornare a in sapien. In et urna maximus, consectetur ligula in, gravida erat. Nullam dignissim hendrerit auctor. Sed varius, dolor vitae iaculis condimentum, massa nisl cursus sapien, gravida ultrices nisi dolor non erat.
                    p.section-title-dec
                        |Sed pellentesque pulvinar arcu ac congue. Sed sed est nec justo maximus blandit. Curabitur lacinia, eros sit amet maximus suscipit, magna sapien venenatis eros, et gravida urna massa ut lectus. Quisque lacinia lacinia viverra. Nullam nec est et lorem sodales ornare a in sapien. In et urna maximus, consectetur ligula in, gravida erat. Nullam dignissim hendrerit auctor. Sed varius, dolor vitae iaculis condimentum.
                <!--/.section-align-title-area-->
            <!--/.col-md-6-->
            .col-md-6
                #gallery.our-place-gallery
                    a(href="#")
                        img(alt="Cup Of Coffee"
                            src="images/place/img-8.jpg"
                            data-image="images/place/img-8.jpg")
                    a(href="#")
                        img(alt="Cup Of Coffee"
                            src="images/gallery/home/img-2.jpg"
                            data-image="images/gallery/home/img-2.jpg")
                    a(href="#")
                        img(alt="Cup Of Coffee"
                            src="images/gallery/home/img-2.jpg"
                            data-image="images/gallery/home/img-2.jpg")
                    a(href="#")
                        img(alt="Cup Of Coffee"
                            src="images/place/img-8.jpg"
                            data-image="images/place/img-8.jpg")
                <!--/.our-place-gallery-->
            <!--/.col-md-6-->
        <!--/.row-->
    <!--/.container-->
<!--/.best-place-area-->

.our-facts-area.bg-image(style="background-image: url('images/footer-top-bg.jpg')")
    .container
        .row
            .col-md-12 
                ul.tb.facts-content.list-unstyled
                    li.single-count
                        h2.count-number
                            span.count-data(data-from="1" data-to="250" data-speed="3000")
                                |250
                        h3.text
                            |Rooms
                    <!--/.single-count-->
                    li.single-count
                        h2.count-number
                            span.count-data(data-from="1" data-to="05" data-speed="3000")
                                |05
                        h3.text
                            |pools
                    <!--/.single-count-->
                    li.single-count
                        h2.count-number
                            span.count-data(data-from="1" data-to="24" data-speed="3000")
                                |24
                        h3.text
                            |bars
                    <!--/.single-count-->
                    li.single-count
                        h2.count-number
                            span.count-data(data-from="1" data-to="40" data-speed="3000")
                                |40
                        h3.text
                            |restuarant
                    <!--/.single-count-->
                    li.single-count
                        h2.count-number
                            span.count-data(data-from="1" data-to="150" data-speed="3000")
                                |150
                        h3.text
                            |staffs
                    <!--/.single-count-->
                <!--/.facts-content-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.our-facts-area-->

.about-us-area
    .container
        .row
            .col-md-6
                .single-achievement
                    h2.achievement-title
                        |Since 2008
                    p
                        |It is a long established fact that a reader will be distracted by the readable content of a page when looking responsive layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, making it look like readable English.
                    p:<i>Nullam et lorem magna, in consectetur erat. Aliquam fermentum fringilla libero a vulputate. Curabitur non arcu non tortor semper dictum.</i>
                <!--/.single-achievement-->
                
                .single-achievement
                    h2.achievement-title
                        |Our Awards
                    p
                        |Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum.
                    p
                        img(src="images/award.jpg" alt="award")
                <!--/.single-achievement-->
            <!--/.col-md-6-->
            
            .col-md-6
                .single-achievement.achievement-right
                    h2.achievement-title
                        |Our Standard
                    ul.list-unstyled
                        li
                            h4:<span>.1</span>Choose music carefully 
                            p
                                |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        li
                            h4:<span>.2</span>Never serve food that has expired
                            p
                                |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        li
                            h4:<span>.3</span>Keep the restaurant spotless
                            p
                                |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        li
                            h4:<span>.4</span>Make deliberate choices with lighting
                            p
                                |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                <!--/.single-achievement-->
            <!--/.col-md-6-->
        <!--/.row-->
    <!--/.container-->
<!--/.about-us-area-->